/* レイアウト */
main {
  padding: 10px 0;
}

/* セクション間の余白 */
#active-container {
  margin-top: 10px;
}

/* 回答数列 */
.count-col {
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  color: #666;
}

/* 投票項目列 */
.items-col {
  font-size: 12px;
  color: #555;
  line-height: 1.4;
  min-width: 120px;
  padding: 8px !important;
}
