.blue-note-item {
  margin-bottom: 20px;
}

.blue-note-item label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.blue-note-item input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
